HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
data/
nano.save
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
backend/.mvn/
backend/mvnw
backend/src/main/resources/application.properties
frontend/node_modules/
node_modules/
frontend/.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### direnv ###
.direnv
.envrc
